body {
    width: 80%;
    margin: 0 auto;
}
* {
    box-sizing: border-box;
}

/* Skip to content */
#skiptocontent {
    height: 50px;
}
.hidden {
    padding: 8px;
    position: absolute;
    height: 30px;
    transform: translateY(-100%);
    transition: transform 0.3s;
}
a:focus {
    transform: translateY(0%);
}

/* Header */
header a {
    display: block;
}

/* Headshot */
#headshot {
    border-radius: 50%;
}

/* Info & skills section */
