body {
    width: 80%;
    margin: 0 auto;
}
* {
    box-sizing: border-box;
}

/* Skip to main content (adapted from webaim.org source code) */
#skiptocontent a {
    padding: 6px;
    position: absolute;
    top: -40px;
    left: 0px;
    color: white;
    border-bottom-right-radius: 8px;
    background: #BF1722;
    transition: top .5s ease-out;
    z-index: 100;
}
#skiptocontent a:focus {
	position: absolute;
	left: 0px;
	top: 0px;
	outline-color: transparent;	
    transition: top .2s ease-in;
}
/* Header */
header {
    display: flex;
    flex-direction: column;
}
header a {
    display: block;
}
#sammie_atkins {
    font-size: 3em;
    color: black;
    font-weight: bold;
    text-align: center;
}
a {
    text-decoration: none;
}

/* Headshot */
#headshot {
    border-radius: 50%;
}

/* Info & skills section */
